.MuiIconButton-label input[type="checkbox"] {
    cursor: pointer;
    position: absolute !important;
}

.MuiAutocomplete-root {
    width: 100%;
}

.MuiFormLabel-root.MuiInputLabel-root, .MuiFormControl-root .MuiInputBase-root{
    font-size: 16px;
}

.MuiChip-root .MuiChip-label {
    font-size: 12px;
}